# dependencies
node_modules/
package-lock.json

# build output
build/
.docusaurus/

# generated
.cache/

# env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo
